#Ignore all the text files we're generating for now:
*.txt
*.csv
*.mp4

#Python stuff
__pycache__/
venv/
.idea/

#Ignore Large Database File
*.dat

#Ignore for UE4
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

Plugins/*/Binaries/*

# Builds
Build/*
# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for mapsw
*_BuiltData.uasset
Plugins/*/Intermediate/*
